body {
    font-family: Arial, sans-serif;
    margin: 0;

}
header {
    background: #2474A6;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    margin: 0;   
    border-bottom: 3px solid #374047; 
}

h1 {
    font-size: 3.5rem;
}

h1, h2, a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}


.links {
    color: #FAFAF8;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 1px;
}

form {
display: flex;
align-items: center;
margin-right: 3rem;
}

ul {
list-style-type: none;
}


#input-search {
    padding: 5px;
    margin-right: 5px;
    height: 1.5rem;
}

#btn-search {
    padding: 0.7rem;
}

  button {
    padding: 5px;
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  icon {
    font-size: 1rem;
  }

