:root {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #272929;
    padding-bottom: 2rem;
}
/* .backgroung {
    background-color: #374047;
    margin-top: -1rem;
    padding-top: 1rem;
    height: 100vh;
    padding-bottom: 20rem;
} */
header {
  background: #000000;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
  margin: 0;   
  border-bottom: 3px solid #374047; 
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  display: inline-block;
}

ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white; /* Exemplo de cor */
}

ul li a:hover {
  background-color: #ddd;
  color: black;
}

h1 {
    font-size: 3.5rem;
}

h1, h2, a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: white;
    background-color: #000;
    padding: 10px 50px;
}
#input-search {
  padding: 5px;
  margin-right: 5px;
  height: 1.5rem;
}

#btn-search {
  padding: 0.7rem;
}

/* header */

/* header {
    background: #2474A6;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    margin: 0;   
    border-bottom: 3px solid #374047; 
} */
/* 
h1 {
    font-size: 3.5rem;
}

h1, h2, a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
} */
.generos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Espaçamento entre os botões */
  justify-content: center;
  margin-bottom: 20px; /* Espaço antes dos cards de filmes */
}

.genero-item button {
    display: flex;
    justify-content: center; /* Centraliza os itens */
    padding: 10px 0;
    background-color: #2474A6;/* Estilize os botões de gênero conforme necessário */
}

.filmes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espaçamento entre os cards de filme */
}

.filme-card {
  /* Estilize seus cards de filme aqui */
  width: 300px; /* Exemplo de largura */
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #FAFAF8;
}



.links {
    color: #FAFAF8;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 1px;
}

header form {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

/* ul {
list-style-type: none;
} */


#input-search {
    padding: 5px;
    margin-right: 5px;
    height: 1.5rem;
}

#btn-search {
    padding: 0.7rem;
}

button {
  padding: 5px;
  background: #070f58;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius:4px;
}
  
  icon {
    font-size: 1rem;
  }


  /* pagina inicial */

  .movie-card {
    margin: 10px;
    margin-left: 2rem;
    background-color: #FAFAF8;
    margin-top: 1rem;
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    /* text-align: center; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .movie-card h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
  }
  
  .movie-card span {
    display: block;
    margin-top: 5px;
    font-style: italic;
    color: #777;
  }

  .movie-card img {
    max-width: 98%;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
  }

  #movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

  
  #btn-atualiza-delete {
    display: flex;
    margin-top: 10px;
  }
  
  #btn-atualiza-delete button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    margin-right: 2px;
    border-radius: 5px;
  }
  
 button:hover {
    background-color: #007bff80;
    color: #fff;
  }

  /* alerta */

#alerta {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  border-radius: 5rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.778);
  opacity: 0.7;
}


#alerta p {
  margin-left: 5rem;
  color: #FAFAF8;
  font-weight: 500;
}

#cose-alert {
  background-color: transparent;
  background-image: url('../public/close.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 25px; 
  height: 25px; 
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

/* pagina de cadastrar */


#cadastrar-container {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  background-color: #FAFAF8;
  border: 1px solid #ddd;
  padding: 15px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#cadastrar-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#cadastrar-container form input,
#cadastrar-container form label {
  width: 80%;
  height: 2rem;
  margin-bottom: 0.5rem;
}

#cadastrar-container h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
}

#cadastrar-container form button {
  width: 30%;
  height: 2.2rem;
  font-size: 1rem;
}


#add-ator {
  display: flex;
  width: 80%;
  height: 3rem;
}

#add-ator input {
  flex-grow: 1; /* Ocupa o espaço restante disponível */
  margin-right: 10px; 
  height: 2rem;
  margin-left: -0.3rem;
}

#adicionar-ator {
  background-color: transparent;
  background-image: url('../public/mais.png'); 
  background-size: cover; 
  background-repeat: no-repeat;
  width: 2.2rem !important;  /* Ajuste o tamanho conforme necessário */
  height: 2.2rem !important; /* Ajuste o tamanho conforme necessário */
  border: none;
  cursor: pointer;
}
